/* reset  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    color: #a3a3a3;

}
.sidebar{
    background-color: #000000;
    width: 15rem;
    height: 85vh;
    line-height: 230%;
    padding: 1%;
    position: fixed;
    overflow: scroll;
    font-size: 11px;
}
strong,
h1{
    color: white;
}
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.column{
    flex-direction: column;
}
.sp-between{
    justify-content: space-between;
}
.instal{
    border-bottom: 1px solid;
}
a{
    color: #a3a3a3;
}
.logo{
    width: 9rem;
    padding: 1rem 0;
}
.icone{
    width: 10%;
    vertical-align: middle;

}
main{
    background-color: #0f1520;
    margin-left: 15rem;
    height: 85vh;
    overflow: scroll;
}
.profilo{
    background-color: gray;
    border-radius: 50%;
    height: 22px;
    width: 22px;
}
main > div{
    max-width: 85vw;
}
.upgrade{
    background-color: #080b12;
    text-align: end;
    padding: 1%;
}
button{
    background-color: transparent;
    color: white;
    padding: 1% 3%;
    border-radius: 3rem;
    text-transform: uppercase;
}
.main-container{
    margin-top: 7%;
}
.main-container > nav{
    max-width: 100%;
}
.main-nav{
    justify-content: center;
    flex-wrap: wrap;
    padding: 2% 5%;
}
.main-nav > li{
    padding: 1%;
    text-transform: uppercase;
}
div > section{
    padding: 2%;
}
.album > li{
    width: calc(92%/6);
    text-align: center;
}
.album > li > strong{
    margin: 10% 0%;
}
.pd-top{
    padding-top: 3%;
}
footer{
    height: 15vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: black;
    padding: 1% 0%;
}
.brano-riprodotto{
    font-size: 0.7rem;
    justify-content: space-around;
    width: 16rem;
    align-items: center;
}
.traccia{
    width: 2rem;
}
.traccia > img{
    width: 3.2rem;
}
/* hover  */
a:hover{
    color: white;
}
button:hover{
    font-size: 120%;
    cursor: pointer;
}


/* media  */

@media all and (max-width: 992px){
    .album{
        flex-wrap: wrap;
    }
    .album > li{
        width: calc(92%/4);
    }
}

@media all and (max-width: 768px){
    .album > li{
        width: 48%;
    }
}

@media all and (max-width: 576px){
    .sidebar{
        background-color: #000000;
        width: 5rem;
        height: 85vh;
        line-height: 160%;
        padding: 5%;
        position: fixed;
        align-items: center;
    }

    main{
        margin-left: 5rem;
        height: 85vh;
    }
    .logo{
        content: url(../img/logo-small.svg);
        width: 2rem;
    }
    .home{
        content: url(../img/home.svg);
        margin: 50% 0;
    }
    .cerca{
        content: url(../img/search.svg);
        margin: 50% 0;
    }
    .libreria{
        content: url(../img/libreria.svg);
    }
    .none{
        display: none;
    }
}